// Change configuration
$gutter: 1rem;

// Add dependencies
@import 'node_modules/primeflex/primeflex.scss';

// Add custom font
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

@import url('https://unpkg.com/leaflet@1.5.1/dist/leaflet.css');

@import "@fortawesome/fontawesome-pro/css/all.css";

$mainFont: 'Manrope', sans-serif;
$mainFontSize: 14px;
$labelFontWeight: 600;
$labelFontColor: #666;

*,
body,
:root {
  font-family: $mainFont;
  font-size: $mainFontSize;
}

.layout-content.layout-content-fixed {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
}

// TODO: Make this better.
.p-dropdown-label,
.p-inputtext {
  font-family: $mainFont;
  font-size: $mainFontSize;
}

label {
  color: $labelFontColor;
  font-weight: $labelFontWeight;
}

.app-base-progress-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .p-progress-spinner-circle {
    stroke: rgb(33, 150, 243) !important;
  }
}



.crud-demo {
  .table-header {
    flex-direction: column;
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row!important;
    }
  }

  .product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .p-toolbar {
    display: flex;
    flex-wrap: wrap;
  }

  .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
  }

  .confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-instock {
      background: #C8E6C9;
      color: #256029;
    }

    &.status-outofstock {
      background: #FFCDD2;
      color: #C63737;
    }

    &.status-lowstock {
      background: #FEEDAF;
      color: #8A5340;
    }
  }

  /* Responsive */
  .datatable-responsive .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }

  @media screen and (max-width: 960px) {
    .p-datatable {
      &.datatable-responsive {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr {
          border-bottom: 1px solid var(--surface-d);
          > td {
            text-align: left;
            display: flex;
            align-items: center;
            border: 0 none !important;
            width: 100% !important;
            float: left;
            clear: left;
            border: 0 none;

            .p-column-title {
              padding: .4rem;
              min-width: 30%;
              display: inline-block;
              margin: -.4rem 1rem -.4rem -.4rem;
              font-weight: bold;
            }

            .p-progressbar {
              margin-top: .5rem;
            }

            .actions {
              display: flex;
              flex-grow: 1;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

.justify-content-start {
  -moz-box-pack: start!important;
  justify-content: flex-start!important;
}

.input-demo {
  .p-multiselect {
    min-width: 15rem;
  }

  .multiselect-custom {
    .country-item {
      display: flex;
      align-items: center;

      span.flag {
        width: 18px;
        height: 12px;
        margin-right: .5rem;
        margin-left: .5rem;
      }
    }

    .country-item-value {
      border-radius: 3px;
      display: inline-flex;
      vertical-align: top;
      margin-right: .5rem;
      padding-right: .5rem;
      background-color: #2196F3;
      color: #ffffff;
    }
  }
}


.speeddial-linear-demo .p-speeddial-direction-up {
  left: calc(50% - 2rem);
  bottom: 0;
}
.speeddial-linear-demo .p-speeddial-direction-down {
  left: calc(50% - 2rem);
  top: 0;
}
.speeddial-linear-demo .p-speeddial-direction-left {
  right: 0;
  top: calc(50% - 2rem);
}
.speeddial-linear-demo .p-speeddial-direction-right {
  left: 0;
  top: calc(50% - 2rem);
}
.speeddial-circle-demo .p-speeddial-circle {
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
}
.speeddial-circle-demo .p-speeddial-semi-circle.p-speeddial-direction-up {
  left: calc(50% - 2rem);
  bottom: 0;
}
.speeddial-circle-demo .p-speeddial-semi-circle.p-speeddial-direction-down {
  left: calc(50% - 2rem);
  top: 0;
}
.speeddial-circle-demo .p-speeddial-semi-circle.p-speeddial-direction-left {
  right: 0;
  top: calc(50% - 2rem);
}
.speeddial-circle-demo .p-speeddial-semi-circle.p-speeddial-direction-right {
  left: 0;
  top: calc(50% - 2rem);
}
.speeddial-circle-demo .p-speeddial-quarter-circle.p-speeddial-direction-up-left {
  right: 0;
  bottom: 0;
}
.speeddial-circle-demo .p-speeddial-quarter-circle.p-speeddial-direction-up-right {
  left: 0;
  bottom: 0;
}
.speeddial-circle-demo .p-speeddial-quarter-circle.p-speeddial-direction-down-left {
  right: 0;
  top: 0;
}
.speeddial-circle-demo .p-speeddial-quarter-circle.p-speeddial-direction-down-right {
  left: 0;
  top: 0;
}
.speeddial-tooltip-demo .p-speeddial-direction-up.speeddial-left {
  left: 0;
  bottom: 0;
}
.speeddial-tooltip-demo .p-speeddial-direction-up.speeddial-right {
  right: 0;
  bottom: 0;
}
.speeddial-delay-demo .p-speeddial-direction-up {
  left: calc(50% - 2rem);
  bottom: 0;
}
.speeddial-mask-demo .p-speeddial-direction-up {
  right: 0;
  bottom: 0;
}


.p-chip.custom-chip {
  background: #689F38;
  color: var(--primary-color-text);
}

.green-group{
  color: skyblue;
}

@import './datatable.scss';
@import './overrides.scss';
@import './register.scss';
@import './account.scss';
@import './footer.scss';
@import './topbar.scss';

